body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #11999e;
}
h1{
  margin:0;
  padding-top:180px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #71c9ce;
  line-height: 2;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 0px;

  color: #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

a{
    color: #11999E;
  }

hr{
  margin: 100px auto;
  border: 6px dotted #66bfbf;
  border-bottom: 6px;
  width: 4%;
}

p{
  line-height: 2;
}

.header{
  background-color: #e3fdfd;
  text-align: center;
}

.headings{
  width:200px;
  margin:0 auto;
}


.topcloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottomcloud {
  position: absolute;
  left: 250px;
}

.propict{
  margin-top: 50px;
  border-radius: 100%;
  width: 10%;
}

.code{
  width: 20%;
  float: left;
  margin-right: 20px;

}

.photo{
  width: 20%;
  float: right;
  margin-left: 20px;


}

.skill-row{
  width: 40%;
  margin:auto;
  line-height: 1.5;
}

}

.coding{
  text-align: left;
  margin-top:100px

}

.photography{
  text-align: right;
  margin-top:100px;
  margin-bottom: 100px;

}

.btn{
	background:-moz-linear-gradient( center top, #a2c7eb 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2c7eb', endColorstr='#1e62d0');
	background-color:#66bfbf;

	border-top-left-radius:22px;

	border-top-right-radius:22px;

	border-bottom-right-radius:22px;

	border-bottom-left-radius:22px;
	text-indent:0px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	height:41px;
	line-height:41px;
	width:163px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #a2c7eb) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #a2c7eb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#a2c7eb');
	background-color:#1e62d0;

}.btn:active {
	position:relative;
	top:1px;
}

.contact-me {
    margin: 50px 0;

    }

.contact-txt{
  margin-bottom:20px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;

}

.footer-link {
    margin:20px;
}

.social-icon{
  width:3%;
}


a{
  text-decoration: none;
  color:white;
  margin: 10px;
}

a:hover{
  text-decoration: underline;
}

}

.copy {
    color: white;
    font-size: 0.75rem;
}

.copy {
    padding: 20px 0;
    color: white;
}

p {
    margin: 0px;
    line-height: 2;
}



@media (max-width: 900px)
{
.skill-row{
  width: 90%;
}

.code{
  float:none;
}

.coding{
  text-align: center;
  margin-top: 0px;
}


.photo{
  float:none;
}

.photography{
  text-align: center;
  margin-top: 0px;
}

.social-icon {
  width: 7%

}

.propict{
  width: 60%
}
